body{color: #333; font-size: 14px;}
a{color: #333; &:visited{color: #333}}

header{background-color: #f3bf45;  overflow: hidden;}
header h1{color: #fff; font-size: 100px; font-weight: bold; margin: 0;}
header h1 span{font-size: 40px; color: #333; @include yahei; padding-left: 20px;}

.container{width: 1000px; margin: 0 auto}
.members{float: right; width: 270px;}
.members ul{@include clearfix}
.members li{float: left; padding: 20px; margin: 10px; background-color: #eee}
.members img{width: 72px; height: 72px;}

.tasks li, .announce li{text-indent: 2em}
.members, .tasks, .announce{margin-bottom: 30px;}

.tasks{width: 700px;}
.tasklist-link{float: right}