* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

body {
    margin: 30px;
    min-width: 600px;
}

.content {
    border: solid 1px gray;
    background-color: #eee;
    padding: 20px;
}

.edufe-left {
    float: left;
    width: 158px;
    border: solid 1px gray;
    padding: 20px;
    background-color: #fff;
    margin-left: -100%;
}
.edufe-left img {
    width: 78px;
    float: left;
    border: solid 1px gray;
}
.edufe-left p {
    float: left;
    width: 78px;
    text-align: center;
}
.edufe-middle {
    float: left;
    width: 100%;
}
.edufe-right {
    float: left;
    width: 120px;
    margin-left: -120px;
}
.edufe-right ul {
    list-style: none;
    padding: 20px 20px 0 20px;
    border: solid 1px gray;
    background-color: #fff;
}
.edufe-right ul li {
    margin-bottom: 20px;
}
.edufe-right img {
    width: 78px;
    border: solid 1px gray;
}
.edufe-divContent {
    padding-left: 220px;
    padding-right: 140px;
}
.edufe-divInner {
    background-color: #fff;
    border: solid 1px gray;
    padding: 20px;
}
.edufe-clear {
    clear: both;
}


