* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
body {
    margin: 30px;
}
.con {
    border: solid 1px gray;
    background-color: #eee;
    padding: 20px;
}
.left {
    float: left;
    width: 158px;
    border: solid 1px gray;
    padding: 20px;
    background-color: #fff;
    margin-left: -100%;
}
.left img {
    width: 78px;
    float: left;
    border: solid 1px gray;
}
.left p {
    float: left;
    width: 78px;
    text-align: center;
}
.middle {
    float: left;
    width: 100%;
}
.right {
    float: left;
    width: 120px;
    margin-left: -120px;
}
.right ul {
    list-style: none;
    padding: 20px 20px 0 20px;
    border: solid 1px gray;
    background-color: #fff;
}
.right ul li {
    margin-bottom: 20px;
}
.right img {
    width: 78px;
    border: solid 1px gray;
}
.div1 {
    padding-left: 220px;
    padding-right: 140px;
}
.div2 {
    background-color: #fff;
    border: solid 1px gray;
    padding: 20px;
}
.clear {
    clear: both;
}


